@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
}
h1, h2 {
	display: inline-block;
	margin: 0;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 1.2em;
	font-style: italic;
	color: grey;
}
h3 {
	color: #313b5e;
	font-size: 1.5em;
}
h4 {
	margin: 0;
	float: left;
	width: 6em;
	text-align: right;
}
h6 {
	font-size: 1em;
	font-style: italic;
	margin: 1em 0 1em 0;
}
#about p {
	text-indent: 2em;
}
a {
	text-decoration: none;
}
#contact {
	float: right;
	text-align: right;
}
.leftbar {
	float: left;
	background-color: #313b5e;
	width: 6em;
	height: 0.5em;
	margin: 0.5em 1em 0.5em 0;
}
.shift {
	margin-left: 7em;
}

@media (min-width: 992px) {
	body {
		width: 975px;
		margin-left: auto;
		margin-right: auto;
	}
}
