<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>Yousef Amar's CV</title>

		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="cv.css" />

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	</head>
	<body>
		<script type="text/x-template" id="listing">
			<div class="listing">
				<h4 v-if="subsubtitle">{{ subsubtitle }}</h4>
				<div :class="[{ shift: subsubtitle }]">
					<p><b v-html="title"></b> <i v-if="subtitle" v-html="subtitle"></i></p>
					<p v-if="description" v-html="description"></p>
				</div>
			</div>
		</script>

		<div id="contact">
			<a href="https://www.google.com/maps?q=W14,+London" target="_blank">W14, London</a><br />
			<a href="tel:+447845443890">+44 7845 443890</a><br />
			<a href="mailto:yousef@amar.io?Subject=Hello%2C%20Yousef!">yousef@amar.io</a><br />
			<a href="http://yousefamar.com" target="_blank">yousefamar.com</a>
		</div>
		<h1>Yousef Amar</h1><br />
		<h2>Curriculum Vitae</h2>

		<hr>

		<div id="content">
			<div id="about">
				<div class="leftbar"></div>
				<h3>Profile</h3>
				<p>As an MEng graduate in Computer Systems Engineering with Business Management, I have skills in hardware design, low to high-level programming, and every layer of web development, but also project management and business administration. I live to create and empower others to do the same. I care about technology, education, and creative expression.
				<p>I am currently writing up my PhD thesis in the area of networked systems. I also run <a href="http://grandtutors.org/" target="_blank">Grandtutors</a> through which we recently launched free technological literacy classes for the elderly across London. This is a summarised academic CV &mdash; for descriptions and PDFs of my pubilications, award and volunteering details, and projects, please visit <a href="http://yousefamar.com" target="_blank">my website</a>.</p>
			</div>

			<div id="publications">
				<div class="leftbar"></div>
				<h3>Publications</h3>
				<listing
					v-for="publication in publications"
					:key="publication.title"
					:title="publication.title"
					:subtitle="publication.publisherFull"
					:subsubtitle="publication.year"
					></listing>
			</div>

			<div id="education">
				<div class="leftbar"></div>
				<h3>Education</h3>
				<listing
					v-for="uni in education"
					:key="uni.qualification"
					:title="uni.qualification"
					:subtitle="uni.institution"
					:subsubtitle="uni.period"
					:description="uni.description"
					></listing>
			</div>

			<div id="experience" style="page-break-before: always">
				<div class="leftbar"></div>
				<h3>Experience</h3>
				<listing
					v-for="job in experience"
					:key="job.organisation"
					:title="job.role"
					:subtitle="job.organisation"
					:subsubtitle="job.period"
					:description="job.description"
					></listing>
			</div>

			<div id="awards">
				<div class="leftbar"></div>
				<h3>Awards</h3>
				<listing
					v-for="award in awards"
					:key="award.name"
					:title="award.name"
					:subsubtitle="award.year"
					></listing>
			</div>

			<div id="Referees">
				<div class="leftbar"></div>
				<h3>Referees</h3>
				<p style="margin-bottom: 0" class="shift">Available on request</p>
			</div>
		</div>

		<script src="data.js"></script>
		<script>
			// Shorten some descriptions
			let shorten = (section, invID, from) => {
				let element = section[section.length - 1 - invID];
				element.description = element.description.substr(0, element.description.indexOf(from));
			};
			shorten(experience, 6, '<h');
			shorten(experience, 4, '<ul');
			shorten(experience, 3, '<h');
			shorten(education, 2, '<h6>S');
			shorten(education, 1, '<h6>S');
			shorten(education, 0, '<ul');
			let listing = Vue.component('listing', {
				props: [ 'title', 'subtitle', 'subsubtitle', 'description', 'image', 'link' ],
				template: '#listing'
			});
			new Vue({
				el: '#content',
				components: {
					listing: listing
				},
				data: {
					publications: publications,
					awards: awards,
					experience: experience,
					education: education,
					volunteering: volunteering,
					projects: projects,
					skills: skills
				}
			});
		</script>
	</body>
</html>
