<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Personal webpage of Yousef Amar &ndash; PhD candidate, teacher, and entrepreneur.">
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Person",
				"address": {
					"@type": "PostalAddress",
					"addressLocality": "London",
					"addressRegion": "UK",
					"postalCode": "W14",
					"streetAddress": "West Kensington"
				},
				"colleague": [
					"http://www.eecs.qmul.ac.uk/~tysong/",
					"https://gianniantichi.github.io/",
					"https://www.ruichuan.org/",
					"https://iakkus.github.io/",
					"https://people.mpi-sws.org/~paditya/"
				],
				"email": "mailto:yousef@amar.io",
				"image": "res/image/headshot.jpg",
				"jobTitle": "PhD Candidate",
				"name": "Yousef Amar",
				"alumniOf": "University of Birmingham",
				"birthPlace": "Cairo, Egypt",
				"birthDate": "1993-03-05",
				"height": "178cm",
				"gender": "male",
				"memberOf": "Automatocrats",
				"nationality": "German",
				"telephone": "+44 7845 443890",
				"url": "http://yousefamar.com",
				"sameAs": [
					"https://github.com/yousefamar",
					"https://linkedin.com/in/yousefamar",
					"https://twitter.com/yousefamar",
					"https://facebook.com/yousefamar",
					"https://google.com/+YousefAmar"
				]
			}
		</script>

		<title>Yousef Amar</title>

		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="index.css" />

		<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<body>
		<script type="text/x-template" id="listing">
			<div class="listing highlight">
				<h3 v-html="title"></h3>
				<h4 v-if="subtitle" v-html="subtitle"></h4>
				<h5 v-if="subsubtitle">{{ subsubtitle }}</h5>
				<div v-if="image" class="thumb">
					<a v-if="image.href" :href="image.href" target="_blank"><img :src="image.thumb" alt="image.alt"/></a>
					<img v-else :src="image.thumb" alt="image.alt"/>
				</div>
				<p :class="[{ shift: image }]" v-html="description"></p>
				<a v-if="link" class='link' :href="link.href" target="_blank">{{ link.label }}</a>
			</div>
		</script>

		<div id="header" class="highlight">
			<div id="title">Dr Yousef Amar</div>
			<div id="subtitle">CTO / Co-founder <a href="https://krew.live" target="_blank">Krew</a></div>
			<div id="navLockPosition"></div>
			<div id="navWrapper">
				<nav @click="closeMenu">
					<!-- <a href="#about">About</a> -->
					<a href="#publications">Publications</a>
					<a href="#awards">Awards</a>
					<a href="#experience">Experience</a>
					<a href="#education">Education</a>
					<a href="#volunteering">Volunteering</a>
					<a href="#projects">Projects</a>
					<a href="blog" target="_blank">Blog</a>
					<a href="mailto:yousef@amar.io?Subject=Hello%2C%20Yousef!">Contact</a>
				</nav>
			</div>
			<div id="menu" class="lowlight button" @click="toggleMenu"></div>
		</div>

		<div id="content">
			<div id="about">
				<div class="sectionHeader">
					<h1>About</h1>
				</div>
				<div class="sectionBody">
					<p>Software, hardware, and everything in between!</p>
					<p>I live to create and empower others to do the same. I care about technology, education, and creative expression, among other things too.</p>
					<p>I am currently CTO and co-founder of accelerator-backed, deep-tech startup <a href="https://krew.live" target="_blank">Krew</a>. Previously I had completed my PhD in the area of networked systems. I also taught programming courses to children at <a href="https://www.londonsmp.co.uk/" target="_blank">LondonSMP</a> and ran <a href="http://grandtutors.org/" target="_blank">Grandtutors</a> through which we recently launched free technological literacy classes for the elderly across London (on hiatus due to the pandemic).</p>
					<div id="cvButton" class="button">
						<a href="cv.html" target="_blank">CV</a>
					</div>
				</div>
			</div>

			<div id="publications">
				<div class="sectionHeader">
					<h1>Publications</h1>
					<div class="toggle lowlight button" @click="toggleSection"></div>
				</div>
				<div class="sectionBody collapsible">
					<listing
						v-for="publication in publications"
						:key="publication.title"
						:title="publication.title"
						:subtitle="publication.publisher"
						:description="publication.description"
						:link="publication.link"
						></listing>
				</div>
			</div>

			<div id="awards">
				<div class="sectionHeader">
					<h1>Awards</h1>
					<div class="toggle lowlight button" @click="toggleSection"></div>
				</div>
				<div class="sectionBody collapsible">
					<listing
						v-for="award in awards"
						:key="award.name"
						:title="award.name"
						:subsubtitle="award.year"
						:image="award.image"
						:description="award.description"
						></listing>
				</div>
			</div>

			<div id="experience">
				<div class="sectionHeader">
					<h1>Experience</h1>
					<div class="toggle lowlight button" @click="toggleSection"></div>
				</div>
				<div class="sectionBody collapsible">
					<listing
						v-for="job in experience"
						:key="job.organisation"
						:title="job.role"
						:subtitle="job.organisation"
						:subsubtitle="job.period"
						:description="job.description"
						></listing>
				</div>
			</div>

			<div id="education">
				<div class="sectionHeader">
					<h1>Education</h1>
					<div class="toggle lowlight button" @click="toggleSection"></div>
				</div>
				<div class="sectionBody collapsible">
					<listing
						v-for="uni in education"
						:key="uni.qualification"
						:title="uni.qualification"
						:subtitle="uni.institution"
						:subsubtitle="uni.period"
						:description="uni.description"
						></listing>
				</div>
			</div>

			<div id="volunteering">
				<div class="sectionHeader">
					<h1>Volunteering</h1>
					<div class="toggle lowlight button" @click="toggleSection"></div>
				</div>
				<div class="sectionBody collapsible">
					<listing
						v-for="pos in volunteering"
						:key="pos.role"
						:title="pos.role"
						:description="pos.description"
						></listing>
				</div>
			</div>

			<div id="projects">
				<div class="sectionHeader">
					<h1>Projects</h1>
					<div class="toggle lowlight button" @click="toggleSection"></div>
				</div>
				<div class="sectionBody collapsible">
					<p>This section will soon be replaced by my <a href="graph.html" target="_blank">Project Graph (WIP)</a>. In the meantime, please browse <a href="//github.com/yousefamar" target="_blank">my GitHub profile</a>.</p>
					<listing
						v-for="project in projects"
						:key="project.name"
						:title="project.name"
						:image="project.image"
						:description="project.description"
						:link="project.link"
						></listing>
				</div>
			</div>

			<div id="skills">
				<div class="sectionHeader">
					<h1>Skills</h1>
					<div class="toggle lowlight button" @click="toggleSection"></div>
				</div>
				<div class="sectionBody collapsible">
					<p>This section will soon be replaced by my <a href="graph.html" target="_blank">Project Graph (WIP)</a>. In the meantime, please browse <a href="//github.com/yousefamar" target="_blank">my GitHub profile</a>.</p>
					<ul>
						<li class="skill" v-for="skill in skills">{{ skill }}</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="footer">Copyright &copy; <script>document.write(new Date().getFullYear())</script> Yousef Amar</div>

		<!-- TODO: To top button? -->

		<script src="data.js"></script>
		<script src="index.js"></script>
	</body>
</html>
